networks:
  honeynet:
    internal: true
services:
  db:
    networks:
        - honeynet
    image: postgres:16
    ports: []
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./migrations:/docker-entrypoint-initdb.d
    restart: unless-stopped

  api:
    networks:
        - honeynet
    build:
      context: .
      dockerfile: api/Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db
    restart: unless-stopped

  honeypot:
    networks:
        - default
        - honeynet
    build:
      context: .
      dockerfile: honeypot/Dockerfile
    ports:
      - "2222:2222"
    environment:
      API_URL: http://api:8080
    depends_on:
      - api
    restart: unless-stopped

  nginx:
    networks:
        - default
        - honeynet
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./frontend:/usr/share/nginx/html:ro
    depends_on:
      - api
    restart: unless-stopped

volumes:
  pgdata:
